@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<div class="m-3">
    <h3>Hallo <span class="text-primary">@User.Identity.Name </span> , </h3>
    <h5 class="text-dark ml-5">Welcome To Admin Page</h5>
</div>




