@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<h4>Dashboard</h4>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Charts</h1>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-6 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Role Chart</h6>
                </div>
                <div class="card-body">
                    <div id="bar"></div>
                    <hr>
                </div>
            </div>
            <div class="card shadow mb-4">
                @* Card Header - Dropdown *@
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Degree Chart</h6>
                </div>
                @* Card Body *@
                <div class="card-body">
                    <div id="lulusan"></div>
                    <hr>
                </div>
            </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-xl-6 col-lg-5">
            <!--<div class="card shadow mb-4">-->
                <!-- Card Header - Dropdown -->
                <!--<div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Gender Chart</h6>
                </div>-->
                <!-- Card Body -->
                <!--<div class="card-body">
                    <div id="chart"></div>
                    <hr>
                </div>
            </div>-->
            <!-- Bar Chart -->
            @*<div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Salary Chart</h6>
                </div>
                <div class="card-body">
                    <div id="area"></div>
                    <hr>
                </div>
            </div>*@
        </div>
    </div>
</div>


