@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSubUser";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Course Page</li>
            </ol>
            <h2>Course Page</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Course Section ======= -->
    <section id="course" class="course">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="product">
                        <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                        <div class="specifies">
                            <h2>Course One <br> <span>WEBSITE</span></h2>
                            <div class="price">$1500</div> <label>Description</label>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <button class="btn btn-warning">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="product">
                        <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                        <div class="specifies">
                            <h2>Course Two <br> <span>WEBSITE</span></h2>
                            <div class="price">$1500</div> <label>Description</label>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <button class="btn btn-warning">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="product">
                        <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                        <div class="specifies">
                            <h2>Course Three <br> <span>WEBSITE</span></h2>
                            <div class="price">$1500</div> <label>Description</label>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <button class="btn btn-warning">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="product">
                        <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                        <div class="specifies">
                            <h2>Course Four <br> <span>WEBSITE</span></h2>
                            <div class="price">$1500</div> <label>Description</label>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <button class="btn btn-warning">Buy Now</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Course Section -->

</main><!-- End #main -->
