@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutUser";
}
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <a href="https://www.youtube.com/embed/WN5WsKlLoZA" class="glightbox play-btn mb-4"></a>
                </div>
                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>ABOUT METRODATA IT CAMP</h3>
                    <p>
                        Metrodata IT Camp is a leading website for learning by doing. teach students how to code and apply code to workplace projects.
                        These programs commonly cover programming languages like JavaScript, SQL, and Python, along
                        with modules on current industry software, tools, and techniques. Most bootcamp applicants need little or no prior coding experience
                    </p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user"></i></div>
                        <h4 class="title"><a href="">One Account for All</a></h4>
                        <p class="description">You just need one account for all courses available on the website</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-cart"></i></div>
                        <h4 class="title"><a href="">Easy to Buy Course</a></h4>
                        <p class="description">You can easily buy our courses available, with just one click of a button the course will be yours</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-search"></i></div>
                        <h4 class="title"><a href="">Search for What You Need</a></h4>
                        <p class="description">Search whatever course you need in our website</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Course Section ======= -->
    <section id="course" class="course section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Course</h2>
                <p>Popular Course</p>
            </div>

            <div class="row" id="lesson">
                @*<div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                        <div class="product">
                            <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                            <div class="specifies">
                                <h2>Course One <br> <span>WEBSITE</span></h2>
                                <div class="price">$1500</div> <label>Description</label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="btn btn-warning">Buy Now</button>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                        <div class="product">
                            <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                            <div class="specifies">
                                <h2>Course Two <br> <span>WEBSITE</span></h2>
                                <div class="price">$1500</div> <label>Description</label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="btn btn-warning">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                        <div class="product">
                            <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                            <div class="specifies">
                                <h2>Course Three <br> <span>WEBSITE</span></h2>
                                <div class="price">$1500</div> <label>Description</label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="btn btn-warning">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                        <div class="product">
                            <div class="imgbox"> <img src="/assets/img/hero-img.png"> </div>
                            <div class="specifies">
                                <h2>Course Four <br> <span>WEBSITE</span></h2>
                                <div class="price">$1500</div> <label>Description</label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="btn btn-warning">Buy Now</button>
                            </div>
                        </div>
                    </div>*@

            </div>

        </div>
    </section><!-- End Course Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Mentor?</h3>
                        <h5>
                            Working with a mentor is life-changing because it helps you understand who you are and what you want to become.
                            Once you've experienced life with a mentor, you may want to share your experiences with others too
                        </h5>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-star"></i>
                                    <h4>Experienced Mentor</h4>
                                    <p>We have our best of the best mentors which is skillful, experienced and passionate on teaching the courses they make</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-headphone"></i>
                                    <h4>Audio Visual</h4>
                                    <p>Our mentor will provide you with audio visual course that make learning easier to bear</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-task"></i>
                                    <h4>Available Task</h4>
                                    <p>In each moduls that courses hold, there is a task where you can do it after you learn. It makes a good practice for every courses</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Muhammad Rifqi</h4>
                            <span>Back End Developer</span>
                            <p>
                                Back-end developers create, code, and improve the server, server-side applications, and databases that, when combined with front-end codes, help create a functional, seamless experience for the end-user.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Naufal Aji</h4>
                            <span>Business Analyst</span>
                            <p>
                                A Business Analyst, or Systems Analyst, collects data about an organisation’s operations to improve its systems and processes.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Nathan </h4>
                            <span>Front End Developer</span>
                            <p>
                                A front end developer, also known as a front end web developer, is a professional responsible for the design and implementation of the interface.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Trainers Section -->
    <div class="text-center">
        <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#modalRate" style="color:black;box-shadow: 3px 14px 14px -3px rgba(0,0,0,0.5);"><h4>Rate us</h4></button>
    </div>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="/assets/img/hero-img.png" class="testimonial-img" alt="">
                                <h3>Adzie Fatharoni</h3>
                                <h4>Devepoler</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Pembelajaran di Metro Data Training sangat efektif dan mudah dipahami untuk pemula seperti saya
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="/assets/img/hero-img.png" class="testimonial-img" alt="">
                                <h3>Chairul Hamid</h3>
                                <h4>Devepoler</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Kemampuanku untuk mengembangkan Web menjadi lebih terasah, aku juga dapat belajar dimana saja dan kapan saja!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="/assets/img/hero-img.png" class="testimonial-img" alt="">
                                <h3>Sharon Nathasya</h3>
                                <h4>Devepoler</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Metro Data Training sangan mudah untuk digunakan dan memiliki tampilan yang menarik, suka banget
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->

<div class="modal fade" id="modalRate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rate Us</h5>
                <button type="button" onclick="window.location.reload()" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="formValidation" name="nameModal" method="post">
                    <div class="col" style="margin-bottom:20px;">
                        <label>Email</label>
                        <input type="text" class="form-control" id="email1" name="email" placeholder="user@example.com">
                    </div>
                    <div class="col">
                        <label>Testimony</label>
                        <input style="height:75px;" type="text" class="form-control" id="testimony" name="Testimonial" placeholder="Testimonial....">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="GiveReview();">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var userId = @HttpContextAccessor.HttpContext.Session.GetInt32("SessionId")
        console.log(userId);
    </script>
}
