@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutUserCourse";
}

@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Course Page</li>
            </ol>
            <h2>My Course Page</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Cource Details Section ======= -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100" id="myCourse">
               
            </div>

        </div>
    </section><!-- End Trainers Section -->
    
    <!-- End Popular Courses Section -->
</main><!-- End #main -->
@section Scripts {
    <script>
        var dataID = @ViewData["Id"];
        console.log(dataID);
        var userID = @HttpContextAccessor.HttpContext.Session.GetInt32("SessionId");
        console.log(userID);
    </script>
}
