@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSubUser";
}
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Detail Course</li>
                <li>Buy</li>
            </ol>


        </div>
    </section><!-- End Breadcrumbs -->
    @if (@User.Identity.Name != null)
    {
        <section id="appointment" class="appointment section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Magnam dolores commodi suscipit</h2>
                </div>
                
                <form action="" method="post" role="form" class="php-email-form">
                    <div class="row justify-content-center">
                        <div class="col-lg-4" id="materiDetail">
                            <div class="content">
                                <p id="userId" hidden>@HttpContextAccessor.HttpContext.Session.GetInt32("SessionId")</p>
                                <div class="course-info d-flex justify-content-between align-items-center">
                                    <h5>Name</h5>
                                    <p id="Name">@User.Identity.Name</p>
                                </div>
                                <div class="course-info d-flex justify-content-between align-items-center">
                                    <h5>Name Course</h5>
                                    <p id="courseName"></p>
                                </div>
                                <div class="course-info d-flex justify-content-between align-items-center">
                                    <h5>Date</h5>
                                    <p id="date"></p>
                                </div>
                                <div class="course-info d-flex justify-content-between align-items-center">
                                    <h5>Bank Transfer</h5>
                                </div>
                                <div class="col">
                                    <select style="margin-bottom:10px;" class="form-control" id="bankAccount" required value="bankAccount">
                                        <optgroup label="Select Bank">
                                            <option value="3703-02-00042">BRI</option>
                                            <option value="006-00-1710201">Mandiri</option>
                                        </optgroup>
                                    </select>
                                </div>
                                @*  <div class="align-items-center  d-flex  " style="margin-left:50px;">
            <input class="check-input" type="radio" name="flexRadioDefault" id="bankAccount" value="3703-02-00042">
            <label class="form-check-label" for="bankAccount">
                BRI
            </label>
        </div>
        <div class="align-items-center  d-flex " style="margin-left:50px;">
            <input class="check-input" type="radio" name="flexRadioDefault" id="bankAccount" value="006-00-1710201"  checked>
            <label class="form-check-label" for="bankAccount">
                MANDIRI
            </label>
        </div>*@
                                <div class="course-info d-flex justify-content-between align-items-center">
                                    <h5>Total Payment</h5>
                                    <h3 id="payment"></h3>
                                </div>


                            </div>
                            <div class="text-center"><button onclick="BuyNow(userId, dataID)" type="submit">Buy Now</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </section><!-- End Appointment Section -->
        <!-- ======= Appointment Section ======= -->

        <section id="appointment" class="appointment">
            <div class="container">

                <div class="section-title">
                    <h2>How To buy</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Step Cara Membayar</h4>
                        <p>Belajar lebih terarah dengan learning path dan code review</p>


                    </div>
                </div>
            </div>
        </section><!-- End Appointment Section -->
    }
    else
    {
        <section id="course-details" class="course-details why-us">
            <div class="container" data-aos="fade-up">
                <div class="text-center">
                    <h2>You are not logged in!!</h2>
                    <h2>Please Login First, Click the  Button <a href="https://localhost:44344/Home/LoginPage">Login</a>!!</h2>
                </div>
            </div>
        </section><!-- End Cource Details Section -->
    }
    <!-- ======= Appointment Section ======= -->
</main><!-- End #main -->

@section Scripts {
    <script>
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        $("#date").html(today);
    </script>
    <script>
        var userId = @HttpContextAccessor.HttpContext.Session.GetInt32("SessionId")
        console.log(userId)
    </script>
}
