@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Employee";
    Layout = "_LayoutEmp";
}

<h1 class="mt-3 text-center">Become a Trainer</h1>
<div class="container">
    <form action="" name="nameModal" method="post">
        <div class="row mb-2">
            <div class="col" hidden>
                <input type="text" class="form-control" id="employeeId" name="employeeId" placeholder="">
                <input type="text" class="form-control" id="accountId" name="accountId" placeholder="">
            </div>
            <div class="col">
                <label>First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name....">
            </div>
            <div class="col">
                <label>Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name....">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label>Phone</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone....">
            </div>
            <div class="col">
                <label>Birth Date</label>
                <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date....">
            </div>
            <div class="col" id="hireDate1" hidden>
                <label>Hire Date</label>
                <input type="date" class="form-control" id="hireDate" name="hireDate" placeholder="Hire Date....">
            </div>
            <div class="col" id="hireDate2" style="display:none;" hidden>
                <label>Hire Date</label>
                <input type="text" class="form-control" id="tanggal" name="hireDate" placeholder="Hire Date....">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label>Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address....">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label>Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email....">
            </div>
            <div class="col" id="hidePass">
                <label>Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password....">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label>Gender</label>
                <select class="form-control" id="gender" required value="gender">
                    <option value="-">Select Gender</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
            </div>
            <div class="col">
                <label>Your CV Links</label>
                <input type="text" class="form-control" id="cv" name="cv" placeholder="Your CV Link....">
            </div>
        </div>
    </form>
    <div>
        <div>
            <button type="button" class=" tombol btn btn-secondary" onclick="location.href='@Url.Action("Index", "User") '" >Close</button>
            <button type="button" id="btnUpdateEmp" class=" tombol btn btn-primary" onclick="InsertDataEmpIndex();">Register</button>
    
        </div>
    </div>
</div>

